
// Clearfix hack
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER
/*

0       -  575px:  mobile-port
575px   -  767px:  mobile-land
767px   -  900px:  tab-port
900px   - 1200px:  tab-land
1200px  - 1800px:  desktop-1
1800px  - 2000px:  desktop-2
2400px+         :  desktop-3
*/

@mixin respond-phone {
    @media (max-width: 600px) { @content };
}

/*
$breakpoint arguement options:
- mobile-port
- mobile-tab
- tab-port
- tab-land
- desktop-1
- desktop-2
- desktop-3

1em = 16px

ORDER: base + typogrophy > general layout + grid > page layout > components 
*/
@mixin respond($breakpoint){
    @if $breakpoint == mobile-port {
        @media (max-width: 36em) { @content };           //575px / 16 = 36em
    }

    @if $breakpoint == mobile-land {
        @media (max-width: 48em) { @content };           //767px / 16 = 48em
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.3em) { @content };         //900px / 16 = 56.3em
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };           //1200px / 16 = 75em
    }

    @if $breakpoint == desktop-1 {
        @media (max-width: 112.5em) { @content };        //1800px / 16 = 112.5em
    }    

    @if $breakpoint == desktop-2 {
        @media (max-width: 150em) { @content };          //2400px / 16 = 125em
    }

    @if $breakpoint == desktop-3 {
        @media (min-width: 150em) { @content };          //2400px / 16 = 150em
    }

/*
    // media queries for responsive layout
    @include respond(desktop-3) {
            
    }

    @include respond(desktop-2) {
        
    }

    @include respond(desktop-1) {
        
    }

    @include respond(tab-land) {
        
    }

    @include respond(tab-port) {
        
    }

    @include respond(mobile-land) {
        
    }

    @include respond(mobile-port) {
       
    }

    */

}