// colors

$color-primary-brown: #433520;

$color-primary-green-dark: #025955;
$color-primary-green-light: #00917c;

$color-primary-cream-dark: #f4d160;
$color-primary-cream-med: #fbeeac;
$color-primary-cream-light: #fde8cd;

$color-primary-blue-dark: #28527a;
$color-primary-blue-light: #8ac4d0;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1:#777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;