.footer {
    height: 40vh;
    position: relative;
    color: rgba($color-white, .6);
    font-size: 1.4rem;

    // media queries for responsive layout
    @include respond(desktop-1) {
        height: 50vh;
    }

    @include respond(desktop-2-port) {
        height: 43vh;
    }

    @include respond(mobile-land) {
        height: 75vh;
    }

    @include respond(mobile-port) {
        height: 70vh;
        font-size: .2rem;
    }

    &__navigation {
        border-top: 1px solid $color-white;
        padding-top: 1.1rem;
        display: inline-block;
        top: 1rem;
        z-index: 100;

        // media queries for responsive layout
        @include respond(desktop-4) {
            margin-top: 40rem;
        }

        @include respond(desktop-3) {
            margin-top: 29rem;
        }

        @include respond(desktop-2) {
            margin-top: 32rem;
        }

        @include respond(desktop-2-port) {
            margin-top: 58rem;
        }

        @include respond(tab-land) {
            margin-top: 58rem;
        }

        @include respond(tab-port) {
            margin-top: 77rem;
        }

        @include respond(mobile-port) {
            margin-top: 7rem;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;


        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: rgba($color-white, .6);
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-white;
            box-shadow: 0 1em 2rem rgba($color-black, .4);
            transform: scale(1.1) translateY(-1px);
        }
    }

    &__copyright {
        border-top: 1px solid $color-white;
        padding-top: 1.1rem;
        width: 60%;
        float: right;

        // media queries for responsive layout
        @include respond(desktop-4) {
            margin-top: 40rem;
        }

        @include respond(desktop-3) {
            margin-top: 29rem;
        }

        @include respond(desktop-2) {
            margin-top: 32rem;
        }

        @include respond(desktop-2-port) {
            margin-top: 58rem;
        }

        @include respond(tab-land) {
            margin-top: 58rem;
        }

        @include respond(tab-port) {
            margin-top: 77rem;
        }

        @include respond(mobile-port) {
            margin-top: 7rem;
        }
    }
}