// 1140px but able to be scaled
// center block element inside block element
.row {
    max-width: $grid-width;
    margin: 0 auto;
    
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }


    @include respond(desktop-2-port) {
        padding: 0;
        padding-top: 6rem;
        max-width: 100rem;
        position: relative;
    }

    @include respond(desktop-1) {
        padding-top: 9rem;
    }

    @include respond(tab-land) {
        max-width: 180rem;
        position: relative;
    }

    @include respond(tab-port) {
        max-width: 175rem;
    }

    @include respond(mobile-land) {
        max-width: 200rem;
        margin: 0 auto;
    }

    @include respond(mobile-port) {
        max-width: 135rem;
        margin: 0 auto;
    }

    


    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;

            @include respond(mobile-port) {
                margin-right: 30rem;
            }
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);

        @include respond(mobile-port) {
            width: calc((100% - (2 * 20rem)) / 2);
        }

    }

    .col-1-of-3 {
        width: calc((100% - (2 * #{$gutter-horizontal})) / 3);


        // media queries for responsive layout
        @include respond(desktop-2-port) {
            width: 100%;        
        }

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(mobile-land) {
            width: calc((100% - (2 * #{$gutter-horizontal})) / 3);
        }

    }

    .col-2-of-3 {
        width: calc(2 * ((100% - (2 * #{$gutter-horizontal})) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - (3 * #{$gutter-horizontal})) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - (3 * #{$gutter-horizontal})) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - (3 * #{$gutter-horizontal})) / 4) + (2 * #{$gutter-horizontal}));
    }

}