/* viewport height, and header background image definitons*/
.header {
    height: 95vh;

    background-image: url(/public/images/cabin_header-lg.jpg);
   
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);
    clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);


    &__logo-box {
        position: absolute;
        top: 5rem;
        left: 3rem;
    }

    &__logo {
        height: 7rem;
        animation: scaleUpFromNothing 2s ease-out 2s;
        animation-fill-mode: backwards;
    }

    &__text-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

