/* viewport height, and header background image definitons*/
.header {
    height: 90vh;

    background-image: url(/public/images/cabin_header-lg.jpg);
    z-index: 2;
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);
    clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);

    &__logo-box {
        position: absolute;
        top: 5rem;
        left: 3rem;

        // media queries for responsive layout
        @include respond(desktop-4) {
            top: 7rem;
        }

        @include respond(desktop-3) {
            top: 7rem;
        }

        @include respond(desktop-2) {
            top: 7rem;
        }

        @include respond(desktop-2-port) {
            top: 9rem;
        }

        @include respond(desktop-1) {
            top: 10rem;
            left: 4rem;
        }

        @include respond(tab-land) {
            top: 13rem;
            left: 5rem;
        }

        @include respond(tab-port) {
            top: 15rem;
            left: 5rem;
        }

        @include respond(mobile-land) {
            top: 9rem;
            left: 7rem;
        }

        @include respond(mobile-port) {
            top: 23rem;
            left: 8rem;
        }
    }

    &__logo {
        height: 7rem;
        animation: scaleUpFromNothing 1s ease-out 1s;
        animation-fill-mode: backwards;

        // media queries for responsive layout
        @include respond(desktop-4) {
            height: 8rem;
        }

        @include respond(desktop-2) {
            height: 9rem;
        }

        @include respond(desktop-2-port) {
            height: 10rem;
        }

        @include respond(desktop-1) {
            height: 10rem;
        }

        @include respond(tab-land) {
            height: 14rem;
        }

        @include respond(tab-port) {
            height: 17rem;
        }

        @include respond(mobile-land) {
            height: 14rem;
        }

        @include respond(mobile-port) {
            height: 24rem;
        }
    }

    &__title-text-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}