@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem) rotate(-3deg); }
  75% {
    transform: translateY(0.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft-accent {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(12deg); }
  75% {
    transform: translateX(0.2rem); }
  100% {
    opacity: 1;
    transform: translate(6deg); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem) rotate(3deg); }
  75% {
    transform: translateX(-0.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scaleUpFromNothing {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

/* Universal selector, start with no margin or padding
change box model to remove any padding or borders */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

/* Add project-wide font definitions to be inherited*/
body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #dde1ef;
  font-family: "min-reg";
  color: #999; }

.heading-primary {
  color: #28527a;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-family: 'min-reg-ital', sans-serif;
    font-size: 7rem;
    letter-spacing: 1rem;
    animation-name: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    font-family: "min-glyph";
    display: block;
    font-size: 2.5rem;
    letter-spacing: 5rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
    animation-delay: .5s;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; }
  .heading-primary--accent {
    font-family: "baheula", cursive;
    color: #fde8cd;
    display: block;
    font-size: 6rem;
    position: absolute;
    top: -4.5rem;
    left: -3rem;
    transform: rotate(-10deg);
    animation-delay: 1s;
    animation-name: moveInLeft-accent;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; }

.heading-secondary {
  padding: 15px 50px;
  font-family: "min-reg-ital";
  font-size: 4.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #28527a, #777);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .4rem;
  transition: all .2s ease-out; }
  .heading-secondary:hover {
    transform: translateY(-3.2px) scale(1.01);
    text-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }

.heading-tertiary {
  font-size: 2.2rem;
  font-family: "" min-glyph ", sans-serif";
  letter-spacing: .3rem;
  color: #28527a; }
  .heading-tertiary--tiles {
    margin-top: -19px;
    font-family: 'baheula';
    font-size: 3.4rem;
    letter-spacing: .5rem;
    text-align: center;
    color: #00917c; }

.paragraph {
  font-size: 1.6rem;
  color: #777;
  text-transform: lowercase;
  font-family: "min-reg";
  line-height: 1.8; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-bigger {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-med {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-bigger {
  margin-top: 14rem !important; }

.u-margin-top-biggest {
  margin-top: 16rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-family: 'min-glyph';
  font-size: 2rem;
  color: #28527a;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s ease-out;
  backface-visibility: hidden; }

.btn-text:hover {
  background-color: #00917c;
  color: #fde8cd;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: translateY(-2.5px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  top: 4rem;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
  -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .bg-video--about::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(249, 251, 253, 0.8), transparent); }
  .bg-video--contact_us::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(249, 251, 253, 0.2), transparent); }
  .bg-video--footer {
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 100%);
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%); }

.textbox {
  padding: 3rem;
  color: #333;
  border-radius: 30px;
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712); }
  .textbox--about {
    position: absolute;
    height: 51rem;
    width: 55rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%); }
  .textbox--tiles {
    height: 1rem;
    width: 30rem;
    transform: translateY(-20%);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .5s ease-in-out; }
  .textbox--contact_us {
    height: 50rem;
    width: 100rem;
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.7)), url(/public/images/campfire1-med.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto; }

.row {
  max-width: 160rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem)); }

/* viewport height, and header background image definitons*/
.header {
  height: 90vh;
  background-image: url(/public/images/cabin_header-lg.jpg);
  z-index: 2;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);
  clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%); }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 3rem; }
  .header__logo {
    height: 7rem;
    animation: scaleUpFromNothing 1s ease-out 1s;
    animation-fill-mode: backwards; }
  .header__title-text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  height: 60vh;
  position: relative; }

.section-about {
  padding: 0;
  margin-top: -5rem;
  position: relative;
  height: 95vh; }

.section-tiles {
  height: 75vh;
  position: relative; }
  .section-tiles img {
    border-radius: 30px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .4s ease-in-out;
    width: 50rem;
    object-fit: cover; }
    .section-tiles img:hover {
      transform: scale(1.21) translateY(-5px);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .section-tiles .tiles-img:hover + .textbox--tiles {
    opacity: 0;
    transform: scale(0.5); }

.section-gallery {
  height: 140vh;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%); }
  .section-gallery .gallery_grid_layout {
    padding: 0 10%;
    margin: 0 20rem;
    display: grid;
    height: 90rem;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px; }
  .section-gallery .grid_layout-item {
    color: #fde8cd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px; }
    .section-gallery .grid_layout-item.square {
      grid-row: span 2;
      grid-column: span 2; }
    .section-gallery .grid_layout-item.large-square {
      grid-row: span 3;
      grid-column: span 3; }
    .section-gallery .grid_layout-item.tall {
      grid-row: span 3;
      grid-column: span 2; }
    .section-gallery .grid_layout-item.wide {
      grid-row: span 2;
      grid-column: span 3; }
  .section-gallery .one {
    background-image: url(/public/images/grid3-lg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out; }
    .section-gallery .one:hover {
      background-color: transparent;
      transform: scale(1.1) translate(-20px, -10px);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .section-gallery .two {
    background-image: url(/public/images/grid6-lg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out; }
    .section-gallery .two:hover {
      background-color: transparent;
      transform: scale(1.1) translate(25px, -15px);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .section-gallery .three {
    background-image: url(/public/images/grid1-lg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out; }
    .section-gallery .three:hover {
      background-color: transparent;
      transform: scale(1.1) translate(-15px);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .section-gallery .four {
    background-image: url(/public/images/grid4-med.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out; }
    .section-gallery .four:hover {
      background-color: transparent;
      transform: scale(1.1);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .section-gallery .five {
    background-image: url(/public/images/grid5-lg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out; }
    .section-gallery .five:hover {
      background-color: transparent;
      transform: scale(1.1) translate(20px, 15px);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .section-gallery .six {
    background-image: url(/public/images/grid2-lg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    transition: all .3s ease-in-out; }
    .section-gallery .six:hover {
      background-color: transparent;
      transform: scale(1.1) translate(-20px, 10px);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }

.section-contact_us {
  position: relative;
  height: 80vh; }
