.about__textbox {
    height: 57rem;
    width: 60em;
    background-color: $color-neumorphism-bkgd;
    position: relative;
    border-radius: 30px;
    border-color: $color-primary-blue-light-1;
    border-style: solid;
    border-width: thin;
    box-shadow: 1px 1px 5px rgba($color-black, .2) inset;
    margin-left: auto;
    margin-right: auto;


&--interior {
        
        padding: 3.5rem;
        color: $color-grey-dark-3;
        border-radius: 30px;
        background-color: #dde1e7;
        box-shadow: -3px -3px 7px $color-white, 3px 3px 5px rgba($color-neumorphism-box, 0.712);
        position: absolute;
        height: 51rem;
        width: 55rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}
}