.bg-video {
    position: absolute;
    top: 4rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit:fill;
    opacity: .7;
    // overflow: hidden;
    // -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);
    // clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);

    -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);
    

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba($color-primary-blue-light-2, .8), transparent);
        
    }

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}