// background video in about section and footer
.bg-video {
    position: absolute;
    top: 4rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
    // overflow: hidden;
    // -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);
    // clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 50% 100%, 0 95%, 0 5%);
    -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    // design properties for about section video
    &--about::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba($color-primary-blue-light-2, .8), transparent);
    }
    // design properties for footer video
    &--footer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 100%);
        clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%);
    }
    &--footer::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba($color-black, .7), transparent);
    }
}
