.form {
    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__input {
        font-family: inherit;
        color: inherit;
        font-size: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: .5rem;
        letter-spacing: .5rem;
        border-radius: 30px;
        background-color: rgba($color-white, .6);
        border: none;
        border-bottom: 3px solid transparent;
        width: 50%;
        display: block;
        transition: all .3s;

        

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary-blue-light-1;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-primary-orange;
        }

        &::-webkit-input-placeholder {
            color: $color-primary-green-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}