// neomorphic text-box
.textbox {
    padding: 3rem;
    color: $color-grey-dark-3;
    border-radius: 30px;
    background-color: #dde1e7;
    box-shadow: -3px -3px 7px $color-white, 3px 3px 5px rgba($color-neumorphism-box, 0.712);


    &--about {
        position: absolute;
        height: 51rem;
        width: 55rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);

        // media queries for responsive layout
        @include respond(desktop-4) {
            height: 71rem;
            width: 75rem;
        }

        @include respond(desktop-2) {
            height: 61rem;
            width: 65rem;
        }

        @include respond(desktop-2-port) {
            height: 100rem;
            width: 55rem;
            top: 46%
        }

        @include respond(desktop-1) {
            height: 67rem;
            width: 110rem;
            top: 54%;
        }

        @include respond(tab-land) {
            height: 90rem;
            width: 90rem;
        }

        @include respond(tab-port) {
            height: 170rem;
            width: 90rem;
            top: 46%;
        }

        @include respond(mobile-land) {
            height: 80rem;
            width: 130rem;
        }

        @include respond(mobile-port) {
            height: 170rem;
            top: 47%;
        }
    }

    &--tiles {
        height: 1rem;
        width: 30rem;
        transform: translateY(-20%);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        transition: all .5s ease-in-out;

        // media queries for responsive layout
        @include respond(desktop-2-port) {
            transform: translate(60%, -25%);
        }

        @include respond(tab-land) {
            transform: translate(53rem, -2rem);
        }

        @include respond(tab-port) {
            height: 7rem;
            width: 40rem;
            transform: translate(43rem, -2rem);
        }

        @include respond(mobile-land) {
            transform: none;
            height: 5rem;
            width: 40rem;
        }

        @include respond(mobile-port) {
            height: 7rem;
            width: 45rem;
            transform: translate(30rem, -2rem);
        }
    }

    &--contact_us {
        height: 50rem;
        width: 100rem;
        background-image: linear-gradient(to bottom, rgba($color-white, .6),
                transparent),
            url(/public/images/contactus-med.jpg);
        background-size: cover;
        margin-right: auto;
        margin-left: auto;

        & .paragraph {
            color: rgba($color-black, .6);
        }

        // media queries for responsive layout
        @include respond(desktop-4) {
            height: 65rem;
        }

        @include respond(desktop-2) {
            height: 60rem;
        }

        @include respond(desktop-2-port) {
            height: 72rem;
        }

        @include respond(desktop-1) {
            height: 75rem;
        }

        @include respond(tab-land) {
            height: 90rem;
        }

        @include respond(tab-port) {
            height: 133rem;
        }

        @include respond(mobile-land) {
            width: 160rem;
            height: 77rem;
        }

        @include respond(mobile-port) {
            height: 150rem;
        }
    }
}