//  Used on Primary-heading in Header 
@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-3rem) rotate(-3deg);
    }

    75% {
        transform: translateY(.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

//  Used on Primary-heading--accent in Header 
@keyframes moveInLeft-accent {
    0% {
        opacity: 0;
        transform: translateX(-10rem) rotate(12deg);
    }

    75% {
        transform: translateX(.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(6deg);
    }
}

//  Used on Primary-heading--sub in Header
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(5rem) rotate(3deg);
    }

    75% {
        transform: translateX(-.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// Used on Logo
@keyframes scaleUpFromNothing {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}