/* Universal selector, start with no margin or padding
change box model to remove any padding or borders */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {


    // determines what 1rem is:  1 rem = 10px;  10px/16px = 62.5%
    font-size: 62.5%;

    // 2400px - 2700px
    @include respond(desktop-3) {
        font-size: 85.5%;
    }

    // 1800px - 2400px
    @include respond(desktop-2) {
        font-size: 62.5%;
    }

    @include respond(desktop-2-port) {
        font-size: 92.5%;
    }

    // 1200px - 1800px
    @include respond(desktop-1) {
        font-size: 43%;
    }

    // 1200px max width orientation: landscape
    @include respond(tab-land) {
        font-size: 32%;
    }

    // 810px max width orientation: portrait
    @include respond(tab-port) {
        font-size: 25%;
    }

    // 810px max width orientation: landscape
    @include respond(mobile-land) {
        font-size: 20%;
    }

    // 410px and under
    @include respond(mobile-port) {
        font-size: 17%;
    }

    // 2700px+
    @include respond(desktop-4) {
        font-size: 100%;
    }


}

/* Add project-wide font definitions to be inherited*/
body {
    box-sizing: border-box;
    padding: 3rem;
    background-color: $color-neumorphism-bkgd;
    font-family: "min-reg";
    color: $color-grey-dark-2;

    @include respond(tab-port) {
        padding: 0;
    }
}