/* Universal selector, start with no margin or padding
change box model to remove any padding or borders */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//determines what 1rem is
html {
    font-size: 62.5%;                           // 1 rem = 10px;  10px/16px = 62.5%
}

/* Add project-wide font definitions to be inherited*/
body {
    box-sizing: border-box;
    padding: 3rem;
}