// Header typography definitions
.heading-primary {
    color: $color-primary-blue-dark;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    white-space: nowrap;

    // Header main title
    &--main {
        display: block;
        text-transform: uppercase;
        font-family: 'min-reg-ital', sans-serif;
        font-size: 7rem;
        letter-spacing: 1rem;
    
        animation-name: moveInDown;
        animation-duration: 1s;
        animation-timing-function: ease-out;

            // media queries for responsive layout
            @include respond(desktop-1) {
                font-size: 8rem;
                letter-spacing: .9rem;
            }

            @include respond(tab-land) {
                font-size: 9rem;
                letter-spacing: .9rem;
            }

            @include respond(tab-port) {
                font-size: 11rem;
                letter-spacing: .8rem;
            }

            @include respond(mobile-land) {
                font-size: 12rem;
            }

            @include respond(mobile-port) {
                font-size: 11rem;
            }
    }
    
    // Header support phrase
    &--sub {
        font-family: "min-glyph";
        display: block;
        font-size: 2.5rem;
        letter-spacing: 5rem;
        margin-left: 3.5rem;
        margin-top: 1rem;

        animation-delay: .5s;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;


            // media queries for responsive layout
            @include respond(desktop-1) {
                font-size: 3.5rem;
                margin-top: 2.5rem;
            }

            @include respond(tab-land) {
                font-size: 4rem;
                letter-spacing: 5.5rem;
            }

            @include respond(tab-port) {
                font-size: 5rem;
                letter-spacing: 6.2rem;
            }

            @include respond(mobile-land) {
                font-size: 6rem;
                letter-spacing: 6.3rem;
                margin-top: 3rem;
            }

            @include respond(mobile-port) {
                font-size: 5rem;
                letter-spacing: 6rem;
                margin-top: 4rem;
            }
    }

    // Accent "come visit" 
    &--accent {
        font-family: "baheula", cursive;
        color: $color-primary-cream-light;
        display: block;
        font-size: 6rem;
        position: absolute;
        top: -4.5rem;
        left:-3rem;
        transform:rotate(-10deg);

        animation-delay: 1s;
        animation-name: moveInLeft-accent;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;

            // media queries for responsive layout
            @include respond(desktop-1) {
                font-size: 8.5rem;
                top: -7rem;
                left: -7rem;
            }

            @include respond(tab-land) {
                color: $color-primary-orange;
                font-size: 8rem;
                top: -7rem;
                left: -7rem;
            }

            @include respond(tab-port) {
                font-size: 8.5rem;
                left: -8rem;
            }

            @include respond(mobile-land) {
                font-size: 9rem;
                top: -8rem;
                left: -9.5rem;
            }

            @include respond(mobile-port) {
                left: -8rem;
            }
    }
}

// Section headings
.heading-secondary{
padding: 15px 50px;
font-family: "min-reg-ital";
font-size: 4.5rem;
display: inline-block;
background-image: linear-gradient(to right,  $color-primary-blue-dark, $color-grey-dark-1);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
letter-spacing: .4rem;
transition: all .2s ease-out;


        // media queries for responsive layout
        @include respond(desktop-2) {
            font-size: 6rem;
            padding-top: 3rem;
        }
    
        @include respond(desktop-1) {
            font-size: 8rem;
            padding-top: 6rem;
        }
    
        @include respond(tab-land) {
            font-size: 8.5rem;
            padding-top: 15rem;
            letter-spacing: .2rem;
            white-space: nowrap;
        }
    
        @include respond(tab-port) {
            padding-top: 25rem;
        }
    
        @include respond(mobile-land) {
            padding-top: 40rem;
            font-size: 10rem;
            white-space: unset;
        }
    
        @include respond(mobile-port) {
            padding-top: 50rem;
            font-size: 10rem;
        }

&:hover {
    transform: translateY(-3.2px) scale(1.01);
    text-shadow: 0rem 0.5rem 1rem rgba($color-black, .25);
 }
}

// Text box primary headings
.heading-tertiary {
    font-size: 2.2rem;
    font-family: ''min-glyph', sans-serif';
    letter-spacing: .3rem;
    color: $color-primary-blue-dark;
    

    // media queries for responsive layout
    @include respond(desktop-3) {
        
    }

    @include respond(desktop-2) {
        font-size: 2.8rem;
    }

    @include respond(desktop-1) {
        font-size: 4rem;
    }

    @include respond(tab-land) {
        padding-top: 3rem;
        font-size: 4.2rem;
    }

    @include respond(tab-port) {
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: 5.4rem;
    }

    @include respond(mobile-land) {
        padding-top: 5rem;
        font-size: 5.9rem;
    }

    @include respond(mobile-port) {
        padding-top: 6rem;
        font-size: 6.2rem;
    }


    &--tiles {
        margin-top: -19px;
        font-family: 'baheula';
        font-size: 3.4rem;
        letter-spacing: .5rem;
        text-align: center;
        color: $color-primary-green-light;
        
    }
}

// Text box text
.paragraph {
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    text-transform: lowercase;
    font-family: "min-reg";
    line-height: 1.8;
    

    &:not(:last-child){
        margin-bottom: 2.5rem;
    }


            // media queries for responsive layout
            @include respond(desktop-2) {
                font-size: 2rem;
            }
        
            @include respond(desktop-1) {
                font-size: 2.7rem;
            }
        
            @include respond(tab-land) {
                font-size: 3.3rem;
            }
        
            @include respond(tab-port) {
                font-size: 4rem;
                line-height: 2;
            }
        
            @include respond(mobile-land) {
                font-size: 4.2rem;
            }
        
            @include respond(mobile-port) {
                font-size: 4.6rem;
            }
}