body {
    // font-family: "Lato", sans-serif;
    // line-height: 1.7;
     color: $color-grey-dark-2;
}

.heading-primary {
    color: $color-primary-blue-dark;
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main {
        display: block;
        text-transform: uppercase;
        font-family: 'min-reg-ital', sans-serif;
        font-size: 7rem;
        letter-spacing: 1rem;
    
        animation-name: moveInDown;
        animation-duration: 2.5s;
        animation-timing-function: ease-out;


        // @include respond(phone) {
        //     letter-spacing: 1rem;
        //     font-size: 5rem;
        // }
    }
    
    &--sub {
        font-family: "min-glyph";
        display: block;
        font-size: 2.5rem;
        letter-spacing: 5rem;
        margin-left: 3.5rem;
        margin-top: 1rem;

        animation-delay: 1s;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }

    &--accent {
        font-family: "baheula", cursive;
        color: $color-primary-cream-light;
        display: block;
        font-size: 6rem;
        position: absolute;
        top: -4.5rem;
        left:-3rem;
        transform:rotate(-10deg);

        animation-delay: 1.5s;
        animation-name: moveInLeft-accent;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }
}

.heading-secondary{
    
font-family: "min-glyph";
font-size: 6rem;
display: inline-block;
text-transform: uppercase;
background-image: linear-gradient(to right,  $color-primary-green-dark, $color-primary-blue-dark);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
letter-spacing: .2rem;
transition: all .2s ease-out;



&:hover {
    transform: translateY(-3.2px) scale(1.01);
    text-shadow: 0rem 0.5rem 1rem rgba($color-primary-green-dark, .25);
 }
}

.heading-tertiary {
    font-size: 2rem;
    font-family: 'min-reg-ital', sans-serif;
    

    // @include respond (phone) {
    //     padding-top: 10px;
    //     float: left;
    // }
}

.paragraph {
    font-size: $default-font-size;
    text-transform: lowercase;
    font-family: "min-reg";
    line-height: 1.8;
    

    &:not(:last-child){
        margin-bottom: 2.5rem;
    }
}