// Header typography definitions
.heading-primary {
    color: $color-primary-blue-dark;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    // Page title
    &--main {
        display: block;
        text-transform: uppercase;
        font-family: 'min-reg-ital', sans-serif;
        font-size: 7rem;
        letter-spacing: 1rem;
    
        animation-name: moveInDown;
        animation-duration: 1s;
        animation-timing-function: ease-out;


        // @include respond(phone) {
        //     letter-spacing: 1rem;
        //     font-size: 5rem;
        // }
    }
    
    // Page title support phrase
    &--sub {
        font-family: "min-glyph";
        display: block;
        font-size: 2.5rem;
        letter-spacing: 5rem;
        margin-left: 3.5rem;
        margin-top: 1rem;

        animation-delay: .5s;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }

    // Accent "come visit" 
    &--accent {
        font-family: "baheula", cursive;
        color: $color-primary-cream-light;
        display: block;
        font-size: 6rem;
        position: absolute;
        top: -4.5rem;
        left:-3rem;
        transform:rotate(-10deg);

        animation-delay: 1s;
        animation-name: moveInLeft-accent;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }
}

// Section headings
.heading-secondary{
padding: 15px 50px;
font-family: "min-reg-ital";
font-size: 4.5rem;
display: inline-block;
background-image: linear-gradient(to right,  $color-primary-blue-dark, $color-grey-dark-1);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
letter-spacing: .4rem;
transition: all .2s ease-out;



&:hover {
    transform: translateY(-3.2px) scale(1.01);
    text-shadow: 0rem 0.5rem 1rem rgba($color-black, .25);
 }
}

// Text box primary headings
.heading-tertiary {
    font-size: 2.2rem;
    font-family: ''min-glyph', sans-serif';
    letter-spacing: .3rem;
    color: $color-primary-blue-dark;
    
    &--tiles {
        margin-top: -19px;
        font-family: 'baheula';
        font-size: 3.4rem;
        letter-spacing: .5rem;
        text-align: center;
        color: $color-primary-green-light;
        
    }

    // @include respond (phone) {
    //     padding-top: 10px;
    //     float: left;
    // }
}

// Text box text
.paragraph {
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    text-transform: lowercase;
    font-family: "min-reg";
    line-height: 1.8;
    

    &:not(:last-child){
        margin-bottom: 2.5rem;
    }
}