
// Text Center
.u-center-text { text-align: center !important; }


// Bottom Margin Utilities
.u-margin-bottom-small {margin-bottom: 2rem !important; }
.u-margin-bottom-medium {margin-bottom: 4rem !important; 

    // @include respond(tab-port) {
    //     margin-bottom: 3rem !important;
    // }
}
.u-margin-bottom-big {margin-bottom: 8rem !important; 

    // @include respond(tab-port) {
    //     margin-bottom: 5rem !important;
    // }
}

.u-margin-bottom-bigger {margin-bottom: 10rem !important; }


// Top Margin Utilities
.u-margin-top-small {margin-top: 2rem !important; }
.u-margin-top-med {margin-top: 4rem !important; }
.u-margin-top-big {margin-top: 8rem !important; }
.u-margin-top-bigger {margin-top: 14rem !important; }
.u-margin-top-biggest {margin-top: 16rem !important; }