.section-about {
    
    padding: 0;
    margin-top: -5rem;
    position: relative;
    height: 95vh;

    @include respond(desktop-2) {
        height: 110vh;
    }

    @include respond(desktop-1) {
        height: 110vh;
    }
}

.section-tiles {
    height: 75vh;
    position: relative;
    

                    // media queries for responsive layout
                    @include respond(desktop-4) {
                        height: 60vh;
                    }

                    @include respond(desktop-2) {
                        height: 60vh;
                    }

                    @include respond(desktop-2-port) {
                        height: 120vh;
                        transform: translate(0, -6%);
                    }

                    @include respond(desktop-1) {
                        height: 85vh;
                        
                    }
        
                    @include respond(tab-land) {
                        height: 150vh;
                        transform: translate(0, -6%);
                    }
        
                    @include respond(tab-port) {
                        height: 112vh;
                        transform: translate(0, -7%);
                    }

                    @include respond(mobile-land) {
                        height: 90vh;
                        transform: none;
                    }
                
                    @include respond(mobile-port) {
                       height: 105vh;
                    }


    img {
        border-radius: 30px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        transition: all .4s ease-in-out;
        width: 50rem;
        object-fit: cover;


            // media queries for responsive layout
            @include respond(desktop-2-port) {
                width: 73rem;
                display:block;
                margin-left:auto;
                margin-right:auto;
            }

            @include respond(tab-land) {
                width: 73rem;
                display:block;
                margin-left:auto;
                margin-right:auto;
                margin-top: 6rem;
            }

            @include respond(tab-port) {
                width: 93rem;
                display:block;
                margin-left:auto;
                margin-right:auto;
                margin-top: 6rem;
            }

            @include respond(mobile-land) {
                width: 63rem;
                
            }

            @include respond(mobile-port) {
                width: 93rem;
                margin-top: 5rem;
            }
        


        &:hover {
            transform: scale(1.21) translateY(-5px);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }

    }

    .tiles-img:hover + .textbox--tiles {
        opacity: 0;
        transform: scale(0.5);

            @include respond(tab-land) {
                opacity: 0;
                transform: scale(0.5) translate(100rem, -10rem);
            }

            @include respond(tab-port) {
                opacity: 0;
                transform: scale(0.5) translate(70rem, -10rem);
            }

            @include respond(mobile-land) {
                opacity: 0;
                transform: scale(0.5) translate(0, 0);
            }
    }


}

.section-gallery {
    height: 140vh;
    background-image: linear-gradient(to bottom, rgba($color-grey-light-1, 1), rgba($color-primary-blue-dark, .5));
    -webkit-clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);
    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%);


    // media queries for responsive layout
    @include respond(desktop-4) {
        height: 115vh;  
    }

    @include respond(desktop-2-port) {
        height: 185vh;  
    }

    @include respond(desktop-1) {
        height: 143vh;  
    }

    @include respond(tab-land) {
        height: 165vh;  
       }

    @include respond(tab-port) {
        height: 185vh;  
       }   

       @include respond(mobile-land) {
        height: 185vh;  
       }  

    @include respond(mobile-port) {
     height: 170vh;  
    }

    .gallery_grid_layout {
        padding: 0 10%;
        margin: 0 20rem;
        display: grid;
        height: 90rem;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;


        @include respond(desktop-2-port) {
            grid-template-rows: repeat(60, 1fr);
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 50px;
            height: 300rem;
        }

        @include respond(tab-land) {
            padding: 0;
            height: 160rem;
        }

        @include respond(tab-port) {
            grid-template-rows: repeat(25, 1fr);
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 30px;
            height: 40rem;
        }

        @include respond(mobile-port) {
            grid-template-rows: repeat(30, 1fr);
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            padding-top: 10rem;
        }
        
    }

    .grid_layout-item {
       
        color: $color-primary-cream-light;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        

        &.square {
            grid-row: span 2;
            grid-column: span 2;

            @include respond(desktop-2-port) {
                grid-row: span 10;
                grid-column: span 5;
            }

            @include respond(mobile-port) {
                grid-row: span 10;
                grid-column: span 5;
            }
        }

        &.large-square {
            grid-row: span 3;
            grid-column: span 3;

            @include respond(desktop-2-port) {
                grid-row: span 10;
                grid-column: span 5;
            }

            @include respond(mobile-port) {
                grid-row: span 10;
                grid-column: span 5;
            }
        }

        &.tall {
            grid-row: span 3;
            grid-column: span 2;

            @include respond(desktop-2-port) {
                grid-row: span 10;
                grid-column: span 5;
            }

            @include respond(mobile-port) {
                grid-row: span 10;
                grid-column: span 5;
            }
        }

        &.wide {
            grid-row: span 2;
            grid-column: span 3;

            @include respond(desktop-2-port) {
                grid-row: span 10;
                grid-column: span 5;
            }

            @include respond(mobile-port) {
                grid-row: span 10;
                grid-column: span 5;
            }
        }
    }
    .one {
        background-image: url(/public/images/grid3-lg.jpg);
        background-size: cover;
        background-color: rgba($color-primary-orange, .9);
        background-blend-mode: multiply;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: transparent;
            transform: scale(1.1) translate(-20px, -10px);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }
    }

    .two {
        background-image: url(/public/images/grid6-lg.jpg);
        background-size: cover;
        background-color: rgba($color-primary-green, 1);
        background-blend-mode: multiply;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: transparent;
            transform: scale(1.1) translate(25px, -15px);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }
        
    }

    .three {
        background-image: url(/public/images/grid1-lg.jpg);
        background-size: cover;
        background-color: rgba($color-primary-yellow, 1);
        background-blend-mode: multiply;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: transparent;
            transform: scale(1.1)  translate(-15px);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }
    }

    .four {
        background-image: url(/public/images/grid4-med.jpg);
        background-size: cover;
        background-color: rgba($color-primary-blue, .6);
        background-blend-mode: multiply;
        transition: all .3s ease-in-out;

        @include respond(desktop-2-port) {
            display: none;
        }

        &:hover {
            background-color: transparent;
            transform: scale(1.1);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }
    }

    .five {
        background-image: url(/public/images/grid5-lg.jpg);
        background-size: cover;
        background-color: rgba($color-primary-red, .6);
        background-blend-mode: multiply;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: transparent;
            transform: scale(1.1) translate(20px, 15px);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }
        
    }

    .six {
        background-image: url(/public/images/grid2-lg.jpg);
        background-size: cover;
        background-color: rgba($color-primary-brown, .7);
        background-blend-mode: multiply;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: transparent;
            transform: scale(1.1) translate(-20px, 10px);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        }
    }
}


.section-contact_us {
    position: relative;
    height: 80vh;


    @include respond(desktop-2) {
        height: 90vh;
    }

    @include respond(desktop-1) {
        height: 110vh;
    }

    @include respond(mobile-land) {
        height: 110vh;
    }

    @include respond(mobile-port) {
        height: 90vh;
    }

}


